.button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 150px;
  background-color: gray;
  color: white;

  &:disabled {
    transform: none;
    box-shadow: none;
    background-color: lightgray;
    cursor: not-allowed;
  }
}
