.form-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-field {
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid gray;

  &:focus,
  &:hover {
    outline: none;
  }

  &:disabled {
    border-color: lightgray;
    background-color: lightgray;
  }

  &.invalid {
    border-color: red;
  }

  &:not(:disabled) {
    &.valid {
      border-color: green;
    }
  }
}
