@mixin link-style() {
  text-decoration: none;
  color: gray;
  font-size: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: 100ms;

  &:hover,
  &:focus {
    color: black;
    transition: 200ms;
  }
}

.nav-link {
  @include link-style();

  a {
    @include link-style();
  }
}
