.articles {
  &__loading-container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__no-articles {
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
