.header {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__part {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
